* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html,
body
{
  background-color: #D1D2D4;
  width: auto;
  height:1000px;
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #404042;
  padding: 0px;
  margin: 0px;
  position: relative;
}

h1 {
  margin-top: 4px;
  margin-bottom:0px;
  padding: 0px;
  color: #DD1972;
}

.num {
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: 700;
}

.guess {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.7em;
}

h2 {
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #404042;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #DCDCDC;
  font-size: 1.1em;
  font-weight: 300;
  z-index: 1;
}


h3 {
  font-size: 1.3em;
  color: #404042;
}

.set-range h3 {
  /* border: 1px solid green; */
  margin-top: 14px;
  margin-bottom: 5px;
  width: 95%;
}



.white-line {
  display: inline;
  background-color: #DCDCDC;
  height: 2px;
  min-width: 466px;
  z-index: 0;
  position: absolute;
  top: 90px;
}

.left-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f7f7f7;
  width: 50%;
  height: 1050px;
  border-right: solid 3px #ABABAB;
}
.set-range {
  /* border: solid 1px orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  height: 150px;
  width: 93%;
  border: 2px solid #d0d2d3;
  margin-top: 15px;
}

label {
  color: #404042;
  font-size: 1.3em;
  font-weight: 300;
}

.challengers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFFFFF;
  height: 450px;
  width: 93%;
  border: 2px solid #d0d2d3;
  /* border: solid 1px red; */
}

.challenge-1-name-guess {
  border: solid 1px green;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  width: 100%;
}

.challenge-1-name-guess input {
  width: 100%;
}


.challengers h3 {
  /* border: solid 1px red; */
}

.challengers-label-input {
  /* border: solid 1px red; */
  display: flex;
  flex-direction: column;
  width: 43%
}

.challengers input {
  /* border: solid 1px red; */
}

.challengers label {
  /* border: solid 1px red; */
}

.latest-guess {
  background-color: #FFFFFF;
  height: 327px;
  width: 93%;
  border: 2px solid #d0d2d3;
  margin-bottom: 1em;
}

button {
  color: #ffffff;
  background-color: #d0d2d3;
  border-radius: 30px;
  height: 1.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  padding-left: 1.2em;
  padding-right: 1.2em;
  outline: 0;
}
button:hover {
  background-color: #dd1792;
}
.button-disabled {
  cursor: not-allowed;
}

input {
  height: 40px;
  border: 2px solid #d0d2d3;
  margin-top: 3px;
}

.min-range,
.max-range {
/* border: solid 1px red; */
  display: flex;
  flex-direction: column;
  width: 34%;
}

.min-range {
  margin-left: 0em;
}

.max-range {
  margin-left: -.7em;
}

.number-ranges-button {
  /* border: solid 1px red; */
  display: flex;
  justify-content: space-around;
  height: 77px;
  width: 100%;
}

.number-ranges-button input {
  /* border: solid 1px red; */
  width: 100%;

}

.number-ranges-button button {
  margin-top: 31px;

}
.set-range-header {
  width: 100%;
}
