* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html,
body
{
  background-color: #D1D2D4;
  width: auto;
  height:1000px;
  margin: 0px;
  padding: 0px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #404042;
  padding: 0px;
  margin: 0px;
  position: relative;
}

h1 {
  margin-top: 4px;
  margin-bottom:0px;
  padding: 0px;
  color: #DD1972;
}

.num {
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: 700;
}

.guess {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.7em;
}

h2 {
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #404042;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #DCDCDC;
  font-size: 1.1em;
  font-weight: 300;
  z-index: 1;
}

h3 {
  width: 85%;
  margin-left: 10px;
  border: 1px solid green;
}

.white-line {
  display: inline;
  background-color: #DCDCDC;
  height: 2px;
  min-width: 466px;
  z-index: 0;
  position: absolute;
  top: 90px;
}

.left-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f7f7f7;
  width: 50%;
  height: 1100px;
}
.set-range {
  display: inline-block;
  /* justify-content: space-around; */
  background-color: #FFFFFF;
  height: 150px;
  width: 93%;
  /* border: solid 1px red; */
  margin-top: 1em;
}

.challengers {
  background-color: #FFFFFF;
  height: 315px;
  width: 93%;
  /* border: solid 1px red; */

}
.latest-guess {
  background-color: #FFFFFF;
  height: 327px;
  width: 93%;
  /* border: solid 1px red; */
  margin-bottom: 1em;

}

button {
  color: #ffffff;
  background-color: #d0d2d3;
  border-radius: 30px;
  height: 1.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  padding-left: .7em;
  padding-right: .7em;
  outline: 0;
}
button:hover {
  background-color: #dd1792;
}
.button-disabled {
  cursor: not-allowed;
}

input {
  height: 30px;
}

.min-range,
.max-range {
  display: flex;
  flex-direction: column;
  /* border: solid 1px red; */
}

.min-range {
  width: 55%;
  margin-left: 10px;
}

.max-range {
  width: 70%;
  margin-left: 3%;
}



.number-ranges-button {
  display: flex;
  justify-content: space-between;

}
.set-range-header {
  width: 100%;
}
